@{
    ViewBag.Title = "Orden Cancelada";
}

<h2>Orden de Venta cancelada!</h2>
Su orden ha sido cancelada satisfactoriamente
@Html.ActionLink("Volver Inicio","Index","Home",null,new{@class="btn btn-success"})
