
@{
    ViewBag.Title = "Empty Cart";
}

<h2>Carrito Vacío</h2>
No se han agregado items al carrito todavía
@Html.ActionLink("Volver Inicio", "Index", "Home", null, new { @class = "btn btn-success" })


